{% extends "index.html" %}

{% block body %}
{% from "macros.html" import material_list %}
<p>To craft <strong>{{ product.number }}</strong> pieces of <strong>{{ product.name }}</strong> you will need:</p>
<div class="row">
    <div class="col">
        {{ material_list(product) }}
    </div>
    <div class="col">
        <h3>Raw materials you will need:</h3>
        <ul class="list-group">
            {% for key, value in raw_materials %}
            <li class="list-group-item">
                {{ key }}
                <span class="badge badge-primary badge-pill">{{ value }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="/static/js/myscript.js"></script>
{% endblock %}