{% macro material_list(materials) %}
    <ul class="list-group">
        {% for material in materials.mat_consume %}
        <li class="list-group-item border-primary">
            {{ material.name }}
            <span class="badge badge-warning badge-pill">{{ material.number }}</span>
            {{ material_list( material ) }}
        </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro get_mat_number(prod_name, products) %}
{% for prod in products %}
{% if prod_name == prod.name %}{{ prod.number }}{% endif %}
{% endfor %}
{% endmacro %}