{% extends "index.html" %}
{% block body %}
<div class="container-fluid">
    <form method="post">
        <div class="form-group col-3">
            <label for="name">Name</label>
            <input name="name" type="text" class="form-control" id="name" value="{{ new_prod.name }}">
        </div>
        <div class="form-group col-3">
            <label for="preis">Price</label>
            <input name="preis" type="number" class="form-control" id="preis" value="{{ new_prod.preis }}">
        </div>
        <div class="form-group col-3">
            <label for="gewicht">Weight</label>
            <input name="gewicht" type="number" class="form-control" id="gewicht" value="{{ new_prod.gewicht }}">
        </div>
        {% for i in range(6) %}
        <div class="form-group border">
            <label for="material_id{{ i+1 }}">Select Material {{ i+1 }}:</label>
            <select name="materials_id[]" class="form-control" id="material_id{{ i+1 }}">
                {% for product in products %}
                <option value="{{ product._id }}"
                        {% if (new_prod.mat_consume[i] is defined)
                        and (product._id == new_prod.mat_consume[i].id) %}selected{% endif %}>
                    {{ product.name }}
                </option>
                {% endfor %}
            </select>
            <label for="material_nr{{ i+1 }}">Number needed</label>
            <input name="materials_nr[]" class="form-control"
                   type="number" id="material_nr{{ i+1 }}"
                   value="{% if (new_prod.mat_consume[i] is defined) %}{{ new_prod.mat_consume[i].number }}{% endif %}">
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Add / Update Product</button>
    </form>
</div>

{% endblock %}
