{% extends "index.html" %}
{% block body %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Preis</th>
            <th scope="col">Gewicht</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ product.name }}</td>
            <td>${{ product.preis }}</td>
            <td>{{ product.gewicht }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}