{% extends "index.html" %}
{% block body %}

<table class="table table-striped border border-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Preis</th>
            <th scope="col">Gewicht</th>
            <th scope="col">Materials</th>
            <th scope="col">Pieces</th>
            <th scope="col">Receipt</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ product.name }}</td>
            <td id="{{ product._id }}_price" data-value="{{ product.preis }}">$ {{ product.preis_html }}</td>
            <td>{{ product.gewicht }}</td>
            <td>
                <table class="table border border-dark">
                    <thead>
                        <tr>
                            <th>Material</th>
                            <th>Pieces</th>
                            <th>Place</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for material in product.mat_consume %}
                        <tr>
                            <td class="{{ product._id }}_material" id="{{ product._id }}_{{ material.id }}" data-value="{{ material.number }}">{{ material.number }} {{ material.name }}</td>
                            <td id="{{ product._id }}_{{ material.id }}_need">0</td>
                            <td id="{{ product._id }}_{{ material.id }}_place">0</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </td>
            <td>
                <input type="number" class="form-control col-3 product_number" id="{{ product._id }}" name="prod_number" value="0">
            </td>
            <td id="{{ product._id }}_receipt">$</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block script %}
<script src="/static/js/myscript.js"></script>
{% endblock %}