{% extends "index.html" %}
{% block body %}
<form method="post">
    <div class="form-group">
        <label for="formSelectVehicle">Select Vehicle</label>
        <select class="form-control" id="formSelectVehicle" name="Vehicle">
        {% for vehicle in vehicles %}
            <option value="{{ vehicle._id }}" {% if vehicle.marke == result.marke %}selected{% endif %}>{{ vehicle.marke }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="formSelectProduct">Select Product</label>
        <select class="form-control" id="formSelectProduct" name="Product">
        {% for product in products %}
            <option value="{{ product._id }}" {% if product.name == result.name %}selected{% endif %}>{{ product.name }}</option>
        {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<blockquote class="blockquote">
    <p>You can make <strong>{{ result.pieces }}</strong> of <strong>{{ result.name }}</strong> with <strong>{{ result.marke }}</strong>.</p>
    <p>Your profit will be <strong>$ {{ result.receipt }}</strong>.</p>
    <p>Materials you will need:</p>
    <table class="table table-striped border border-dark">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Material</th>
                <th scope="col">Need</th>
                <th scope="col">Have</th>
                <th scope="col">Difference Pieces</th>
                <th scope="col">Difference Space</th>
            </tr>
        </thead>
        <tbody>
        {% for mat_name, number in result.info %}
            <tr>
                <td>{{ mat_name }}</td>
                <td id="{{ mat_name }}_need">{{ number }}</td>
                <td>
                    <input type="number" class="form-control col-3 material_have" id="{{ mat_name }}" name="number_have" value="0">
                </td>
                <td id="{{ mat_name }}_diffP">{{ number }}</td>
                <td id="{{ mat_name }}_diffS">{{ number*2 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</blockquote>
{% endblock %}
{% block script %}
<script src="/static/js/myscript.js"></script>
{% endblock %}
