{% extends "index.html" %}
{% block body %}
<form method="post">
    <div class="form-group">
        <label for="formSelectVehicle">Select Vehicle</label>
        <select class="form-control" id="formSelectVehicle" name="Vehicle">
        {% for vehicle in vehicles %}
            <option value="{{ vehicle._id }}" {% if vehicle.marke == result.marke %}selected{% endif %}>{{ vehicle.marke }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="formSelectProduct">Select Product</label>
        <select class="form-control" id="formSelectProduct" name="Product">
        {% for product in products %}
            <option value="{{ product._id }}" {% if product.name == result.name %}selected{% endif %}>{{ product.name }}</option>
        {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<blockquote class="blockquote">
    <p>You can make <strong>{{ result.pieces }}</strong> of <strong>{{ result.name }}</strong> with <strong>{{ result.marke }}</strong>.</p>
    <p>Your profit will be <strong>$ {{ result.receipt }}</strong>.</p>
    <p>Materials you will need:</p>
    <ul class="list-group">
    {% for mat_name, number in result.info %}
        <li class="list-group-item">{{ number }} {{ mat_name }} take {{ number * 2 }} Space/Materials</li>
    {% endfor %}
    </ul>
</blockquote>
{% endblock %}
