{% extends "index.html" %}
{% block body %}

<table class="table table-striped border border-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Marke</th>
            <th scope="col">Preis</th>
            <th scope="col">Max Load</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
        </tr>
    </thead>
    <tbody>
    {% for vehicle in vehicles %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ vehicle.marke }}</td>
            <td>${{ vehicle.kaufpreis }}</td>
            <td>{{ vehicle.max_load }}</td>
            <td>
                <a href="/delete_vehicle/{{vehicle._id}}"
                   class="btn btn-danger btn-lg active"
                   role="button"
                   aria-pressed="true">Delete</a>
            </td>
            <td>
                <a href="/update_vehicle/{{vehicle._id}}"
                   class="btn btn-primary btn-lg active"
                   role="button"
                   aria-pressed="true">Update</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>

<a href="/add_vehicle" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Vehicle</a>

{% endblock %}