{% extends "index.html" %}
{% block body %}

<table class="table table-striped border border-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Marke</th>
            <th scope="col">Preis</th>
            <th scope="col">Max Load</th>
            <th scope="col">Passengers</th>
            <th scope="col">Typ</th>
            {% if admin %}
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for vehicle in vehicles %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ vehicle.marke }}</td>
            <td>${{ vehicle.kaufpreis }}</td>
            <td>{{ vehicle.max_load }}</td>
            <td>{{ vehicle.passagiere }}</td>
            <td>{{ vehicle.veh_type }}</td>
            {% if admin %}
            <td>
                <a href="/delete_vehicle/{{vehicle._id}}"
                   class="btn btn-danger btn-lg active"
                   role="button"
                   aria-pressed="true">Delete</a>
            </td>
            <td>
                <a href="/update_vehicle/{{vehicle._id}}"
                   class="btn btn-primary btn-lg active"
                   role="button"
                   aria-pressed="true">Update</a>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>

</table>
{% if admin %}
<form action="/add_vehicle" method="get">
    {{ add_button_form.recaptcha }}
    {{ add_button_form.submit }}
    {{ add_button_form.csrf_token }}
</form>
{% endif %}
{% endblock %}